# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.log
local_settings.py
.env
.vite/

# Node
node_modules/
npm-debug.log*

# Vite
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
